/bin/Debug/net5.0/Presentation
/bin/Debug/net5.0/Presentation.deps.json
/bin/Debug/net5.0/Presentation.dll
/bin/Debug/net5.0/Presentation.pdb
/bin/Debug/net5.0/Presentation.runtimeconfig.dev.json
/bin/Debug/net5.0/Presentation.runtimeconfig.json 